# OS files
.DS_Store
Thumbs.db

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# Local SQLite Database & Uploads
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
uploads/*
!uploads/.gitkeep

# Logs & temp
*.log
.temp
graphify-out/

